<h2>编辑商品</h2>
<%= simple_form_for [:admin,@product] do |f| %>
<div class="group">
  <%= f.input :categories, label: "分类" %>
</div>
<div class="group">
  <%= f.input :title, label: "标题"%>
</div>
<div class="group">
  <%= f.input :description, label: "描述" %>
</div>
<div class="group">
  <%= f.input :quantity, label: "库存" %>
</div>
<div class="group">
  <%= f.input :price, label: "价格" %>
</div>

<% if @product.photos.present? %>
<span>目前商品图</span>
<br>
<% @product.photos.each do |p| %>
<%= image_tag p.avatar.thumb.url %><br>
<% end %>
<% end %>

<div class="group">
  <%= f.label :avatar, label: "上传放大图" %><br>
  <%= f.file_field :avatar, :multiple => true, name: "photos[avatar][]" %>
</div>
<br>
<% if @product.prints.present? %>
<span>目前商品详情图</span>
<br>
<% @product.prints.each do |p| %>
<%= image_tag p.avatar.thumb.url %><br>
<% end %>
<% end %>
<div class="group">
  <%= f.label :avatar, label: "上传详情图" %><br>
  <%= f.file_field :avatar, :multiple => true, name: "prints[avatar][]" %>
</div>
<br>

<%= f.submit "Submit", data: { disable_with:"Submiting"}, class:"btn btn-primary" %>
<% end %>
