<head>
  <style>
    .panel {
      border: 1px solid rgb(89, 253, 5);
      border-radius: 0;
      transition: box-shadow 0.5s;
    }
    .panel:hover {
      box-shadow: 5px 0 40px rgba(0,0,0, .2);
    }
    .BMX-pic {
      background-image: url('https://ww1.sinaimg.cn/large/006tKfTcgy1fdas46fu3oj30ws09jdja.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 300px;
      padding-bottom: 110px;
    }

  </style>
</head>
<div class="BMX-pic"></div>
<div class="container">

  <div>
    <%= form_tag products_path, :method => "get" do %>
    <div class="searchform">
      <%= text_field_tag :search, params[:search], placeholder: "搜索产品", class: "searchbox"%>
      <span>
        <%= submit_tag "搜索", :title => nil, :description => nil, :categories =>nil, class: "searchbutton" %>
      </span>
    </div>
    <% end %>
  </div>

  <div class="row">
    <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-primary text-center">
        <div class="panel-body">
          <%= link_to product_path(product) do %>
          <% if product.photos.present? %>
          <%= image_tag(product.photos[0].avatar.thumb.url) %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail")%>
          <% end %>
          <% end %>
          <hr>
          <%= product.title %>
          ￥<%= product.price %></br>
        <button class="btn btn-hero">
          <%= link_to add_to_cart_product_path(product), :method => :post do %>
          Add to cart
          <i class="fa fa-cart-plus" aria-hidden="true"></i>
          <% end %>
        </button>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>
