<head>
  <style>
    .action {
      width: 200px;
    }
    .bl {
      float: left;

    }
    .br {
      float: right;
      padding-top: 20px;
    }
    .action .unlike {
      color: #d32048;
      background-color: #fff;
      border-color: #d32048;
      font-size: 25px;
    }
    .action .like {
      color: #fff;
      background-color: #d32048;
      border-color: #d32048;
      font-size: 25px;
    }
    .pl5 {
      padding-left: 5px;
      width: 50px;
    }

  </style>
</head>
<div class="detail mt20 w1200 bc pb50 center1090">
  <div class="intro clearfix">
    <div class="cover fl">
      <div class="intro-bigPic border pr">
        <% if @photos.present? %>
        <img id="thumb" src="<%= @photos.first.avatar.medium.url %>" data-large-img-wrapper="preview" data-large-img-url="<%= @photos.first.avatar.medium.url %>">

        <% end %>
      </div>
      <ul class="intro-preview clearfix">
        <% if @photos.present? %>
        <% @photos.each_with_index do |p, index| %>
        <% if index == 0 %>
        <li class="border intro-preview-item intro-preview-activeItem fl">
        <% else %>
        <li class="border intro-preview-item fl">
          <% end %>
          <% if index < 5 %>
          <%= image_tag p.avatar.medium.url %>
          <% end %>
        </li>
        <% end %>
        <% end %>
      </ul>
    </div>
    <div class="intro-text fr">
      <h3 class="f20 ell fb"><%= @product.title %></h3>
      <p class="intro-text-desc"><%= @product.description %></p>
      <p class="intro-text-value bg-gray">
        <span class="pl20 pr30">售价</span>
        <span class="price f24 fb col-red">￥<%= @product.price %></span>
      </p>
      <p class="intro-text-service">
        <span class="pl20 pr30">运费</span>
        <span>包邮
        </span>
      </p>
      <p class="intro-text-count">
        <span class="pl20 pr30">库存</span><%= @product.quantity %>
      </p>
      <p class="intro-favorite-count">
        <span class="pl20 pr30">收藏</span>(<%= @product.fans.count %>）
      </p>
      <div class="col-md-1 ">
        <p class="pl5">
          分享
        </p>
      </div>
      <div class="col-md-4" style="margin-top:-20px;">
        <%= social_share_button_tag(@product.title) %>
      </div>

      <div class="action">
        <div class="bl">
          <% if @product.quantity.present? && @product.quantity > 0 %>
          <%=link_to("加入购物车", add_to_cart_product_path(@product),:method => :post, :class => "intro-text-btn add-cart pl15 pr15 mt20 tc col-red f20 bg-red")%>
        <% else %>
          已销售一空，无法购买
          <% end %>
        </div>
        <div class="br">
          <% if user_signed_in? %>
          <% if !current_user.is_fan_of?(@product) %>
          <%= link_to favorite_product_path(@product), :class => "like btn btn-default",method: :post do %>
          <i class="fa fa-heart" aria-hidden="true"></i>
          <% end %>
        <% else %>
          <%= link_to unfavorite_product_path(@product), :class => "unlike btn btn-default",method: :post do %>
          <i class="fa fa-heart" aria-hidden="true" style="color:red;"></i>
          <% end %>
          <% end %>
        <% else %>
          <%= link_to favorite_product_path(@product), :class => "like btn btn-default",method: :post do %>
          <i class="fa fa-heart"></i>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="productDetail border mt40">
    <ul class="productDetail-tabList bg-gray clearfix">
      <li class="productDetail-tabList-tab productDetail-tabList-activeTab fl pl50 pr50">
        商品详情
      </li>
      <li class="productDetail-tabList-tab fl pl50 pr50">
        商品评价(<%= @product.posts.count%>)
      </li>
    </ul>

    <script>
      // 详情菜单栏切换
      $(document).on('click', '.productDetail-tabList-tab', function () {
        $(this).addClass('productDetail-tabList-activeTab').siblings().removeClass('productDetail-tabList-activeTab')
        $('.productDetail-content').eq($(this).index()).show().siblings().hide()
      })
    </script>

    <div class="productDetail-contentWrap">
      <div class="productDetail-content pt20 tc pb20" style="display: block;">
        <div class="productDetail-introImg">
          <% if @prints.present? %>
          <% @prints.each_with_index do |p, index| %>
          <%= image_tag p.avatar.medium.url%>
          <% end %>
        <% else %>
          <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
          <% end %>
        </div>
      </div>

      <div class="productDetail-content pt30 tc pb20">
        <ul class="commentList mt70">
          <% @posts.each do |post| %>
          <li class="commentList-item w700 pt10 pb10 bc clearfix">
            <p class="fl content tl f12"><%= post.content %></p>
            <p class="fr name ell">
              <%= post.user.email %>
            </p>
          </li>
          <% end %>
        </ul>
        <p class="comment-say mt20 mb20">
          <%= link_to("我来说两句", new_product_post_path(@product),
             :class => "g-btn pl15 pr15 mt20 ml20 tc col-red f20 bg-red bc") %>
        </p>
      </div>
    </div>
  </div>
</div>

<script>
  //show 预览图选择
  $(document).on('mouseover', '.intro-preview-item', function () {
    var src = $(this).find('img').attr('src')
    $('.intro-bigPic img').attr('src', src)
    $('#thumb-lens').css('background-image', 'url(' + src + ')')
    $(this).addClass('intro-preview-activeItem').siblings().removeClass('intro-preview-activeItem')
    m.attach({thumb: '#thumb', large: src, largeWrapper: 'preview'})
  })

  $('.intro-preview-activeItem').trigger('mouseover')
  $(document).on('mouseover', '.magnifier-thumb-wrapper', function (e) {
    $('#preview').css('visibility', 'visible')
  })
  $(document).on('mouseout', '.magnifier-thumb-wrapper', function (e) {
    $('#preview').css('visibility', 'hidden')
  })

  //show
</script>
